<div class="form-group">
    <label for="{{entityName}}" class="col-lg-4 control-label">{{entityHeader}}</label>
    <div class="col-lg-8">
        <textarea class="form-control" rows="3" id="{{entityName}}" style="width: 416px; height: 75px;" ng-disabled="disable"></textarea>
        <span class="help-block">{{helpText}}</span>
    </div>
</div>