<div class="form-group" ng-class="{'has-warning': !required, 'has-success': (required && parentForm[ctrl.controlId].$valid)||(!required && parentForm[ctrl.controlId].$dirty), 'has-error': required && parentForm[ctrl.controlId].$invalid}">
    <label class="{{ctrl.app.labelColumnForm}} control-label" for="{{ctrl.controlId}}">{{entityHeader}} :</label>
    <div class="{{ctrl.app.inputColumnForm}}">
        <span ng-class="{'required':required}"></span>
        <ui-select ng-model="entity"
                   theme="bootstrap"
                   on-select="ctrl.onSelectItem($item, $model)"
                   name="{{ctrl.controlId}}"
                   ui-select-required="{{required}}"
                   ng-disabled="disable">
            <ui-select-match placeholder="{{placeHolder}}">{{$select.selected[propertyName]}}</ui-select-match>
            <ui-select-choices repeat="item in list | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div class="text-left">
            <span class="help-block" ng-show="parentForm[ctrl.controlId].$invalid">{{helpText}}</span>
        </div>
    </div>
</div>